Django>=3.2,<4.0
psycopg2-binary>=2.9.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
openai==1.35.9
tensorflow==2.16.2
scikit-learn==1.5.0 
python-dotenv==1.0.1
better-profanity==0.7.*
spacy>=3.1.0,<3.2.0
es-core-news-sm==3.1.0 
textblob==0.18.0.post0
nltk==3.8.1